body{
    color: #000000;
background: rgb(29, 84, 100);
margin:0px;
font-family:"Playwrite USA Modern",sans-serif;
    margin-bottom: 100px:
}
header{
    border-bottom: solid 2px rgb(255, 255, 255);
    padding: 20px;
    font-size: 32px;
    color:rgb(0, 0, 0)
}

section{
    background: rgb(0, 100, 128);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}
.chamada-texto{
    margin-right: 5%;
}
.categoria-videos img{
  opacity: 0.5; 
height: 200px;
}
.categoria-videos img:houver{
    opacity: 1.0;
    border :1px solid pink;
}
.categoria h2{
    color:rgb(0, 100, 128)
}